fastapi==0.115.0
uvicorn==0.31.1
python-dotenv==1.0.1
git+https://github.com/Lu-Yi-Hsun/iqoptionapi.git
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.5.2
joblib==1.4.2
requests==2.32.3
tqdm==4.66.5
pytz==2024.2
